@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'PT Sans', sans-serif;
}
.container{
    width: 1040px;
    margin: 0 auto;
}
/* Header comment */
.header{
    width: 1120px;
    margin: 0 auto;
}
/* Navber */
.navber{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.logo h1{
    font-size: 30px;
    font-weight: 700;
}
.menu-ber{
    display: flex;
}
.menu-ber li{
    list-style: none;
    margin-left: 20px;
}
.menu-ber a{
    font-size: 20px;
    font-weight: 400;
}
.menu-ber span{
    font-size: 20px;
}

/* Banner */
.banner{
    display: flex;
    margin-top: 150px;
    align-items: center;
}
.banner-head{
    width: 50%;
}
.banner-head h1{
    font-size: 50px;
    font-weight: 700;
}
.banner-head p{
    margin: 30px 0;
    font-size: 18px;
    font-weight: 400;
}
.banner-head .btn{
    background-color: #E02C6D;
    border-style: none;
    border-radius: 20px;
    padding: 12px 30px;

}
.banner-head .btn a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}
.banner-head .btn span{
    font-size: 20px;
    color: #ffffff;
    margin-left: 10px;
}
.banner-image{

}
.banner-img{
    margin-left: 120px;
}

/* Popular Collection */
.collection-title h1{
    margin: 80px 0;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}
.collection-boxs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    justify-items: center;
}
.collection-box{
    width: 320px;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px 1px #f3f0f0;
    border-radius: 5px;
}
.collection-box:hover{
    background-color: #f3a5c1;
    transition: 1s;
    color: #ffffff;
    box-shadow: 1px 1px 5px 1px #ebe8e9;
    border-radius: 5px;
}

.collection-content{
    width: 300px;
    margin: 10px;
 
}
.collection-details h2{
    margin: 10px 0;
    font-size: 25px;
    font-weight: 700;
}
.collection-details h4{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}
.collection-details .ratings .filled{
    color: rgb(255, 208, 0);
}
.collection-details .ratings .half{
    color: rgba(233, 233, 233, 0.692);
}
.collection-details .ratings span{
    margin-left: 10px;
}
.collection-details h5{
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0;
}
.see-more{
    text-align: right;
    margin-right: 20px;
}
.see-more-btn{
    border: none;
    align-items: center;
    margin-top: 30px;
    border: 2px solid #E02C6D;
    border-radius: 20px;
    padding: 5px 20px;
    display: inline-block;
}
.see-more-btn:hover{
    background-color: #E02C6D;
    color: #ffffff;
}
.see-more-btn:hover a{
    color: #ffffff;
}
.see-more-btn a{
    text-decoration: none;
    color: #E02C6D;
    font-size: 18px;
    font-weight: 700;
}
.see-more-btn span{
    margin-left: 10px;
}
/* Influencer Review  */
.influencer{
    margin-top: 80px;
}
.influencer-title h1{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.influencer-review{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}
.review-box{
    margin: 40px 0;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px 1px #f3f0f0;
    border-radius: 5px;
    padding: 30px 30px;
}
.review-box:hover{
    background-color: #f3a5c1;
    transition: 1s;
    color: #ffffff;
    box-shadow: 1px 1px 5px 1px #ebe8e9;
}
.review-box img{
    border-radius: 50%;
}
.review-box p{
    margin: 10px 0;
    font-size: 16px;
    font-weight: 400;
}
.review-box h2{
    font-size: 25px;
    font-weight: 700;
}
/* Footer  */
.footer{
    background-color: #0A0826;
    margin-top: 30px;
}
.footer-content{

    text-align: center;
 
}
.footer-content h2{
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    padding-top: 30px;
    
}
.footer-content p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    padding-top: 5px;
}
.social-icon{
    text-align: center;
}
.icons .social-icon{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 30px;
}
.social-icon .fab{
    color: #E02C6D;
    background-color: #22203B;
    padding: 10px;
    border-radius: 50%;
    margin-left: 10px;
}
.social-icon li{
    list-style: none;
}
.social-icon li a{
    text-align: center;
}